<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>log viewer</title>
<style>
body, html {width: 100%; height: 100%; margin: 0; padding: 0}
iframe {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    border: none;
    top: 50px;
}
#toolbar {
    height: 50px;
}
</style>
</head>
<body>
<div id="toolbar">
<form class="pure-form" action="/" method="get">
    <fieldset>
        <label for="log_url">Log</label>
        <input name="log_url" type="text" value="{{ log_url }}"/>
        <label for="filter">Filter</label>
        <input name="url_filter" type="text" value="{{ request.args.get('url_filter', '') }}"/>
        <button type="submit" class="pure-button pure-button-primary">View</button>
    </fieldset>
</form>
</div>
<iframe src="/log?log_url={{ log_url }}&url_filter={{ request.args.get('url_filter', '') }}">
</iframe>
</body>
</html>

